{% extends "charity/email_templates/_base_campaign_email.html" %}

{% block preheader_text %}A message from {{ charity_name }} regarding {{ campaign_name }}.{% endblock %}

{% block media_section %}
{% if primary_cta_url or image_url %}
<tr>
    <td class="media-section">
        <table role="presentation" class="video-card" width="100%">
            {% if image_url %}
            <tr>
                <td>
                    {% with thumbnail_alt="Video thumbnail for "|add:campaign_name %}
                    {% include "charity/email_templates/_video_thumbnail.html" with image_url=image_url primary_cta_url=primary_cta_url thumbnail_alt=thumbnail_alt %}
                    {% endwith %}
                </td>
            </tr>
            {% endif %}
            {% if primary_cta_url %}
            <tr>
                <td class="video-cta-row">
                    <a href="{{ primary_cta_url }}" class="cta-button">Watch video</a>
                    <div class="media-link-copy">If the button does not open, use this link: <a href="{{ primary_cta_url }}" class="secondary-link">Open the video</a></div>
                </td>
            </tr>
            {% endif %}
        </table>
    </td>
</tr>
{% endif %}
{% endblock %}
